@use "reset";
@use "vars";

body {
  font-family: sans-serif;
  height: 100%;
  background: #c14040;
  
}
.title__page {
  font-size: 1.6em;
  font-weight: 600;
  color: var(--white);
  text-align: center;
  margin: 1em 0;
}
.info__pokemon {
  padding: 1em;
  background-color: var(--card);
  border-radius: 1.5rem;
  text-decoration: none;
  color: var(--white);
}
.index__img {
  width: 80%;
}
.pokemon__img {
  width: 100%;
}
.aside__img {
  display: flex;
  align-items: center;
}
.info__title {
  font-size: 1.4em;
  font-weight: bolder;
  text-align: left;
  margin: 1em 0 1em 20px;
}
.into__type {
  padding: 1em;
  margin: 1em 0 1em 20px;
  text-decoration: none;
  color: var(--white);
  font-weight: bolder;
  display: inline-block;
  text-align: center;
  border-radius: 0.5em;
}
.info__subtitle {
  font-size: 1.2em;
  margin: 1em 0 1em 20px;

  font-weight: bolder;
}
.stat__grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr 4fr;
  grid-gap: 20px;
  text-align: left;
  margin: 0.5em;
}
.stat__bar {
  width: 100%;
  height: 2rem;
  background-color: var(--progress);
  border-radius: 0.5em;
}
.stat__bar-value {
  height: 100%;
  background-color: var(--white);
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}
.back__index {
  text-decoration: none;
  color: white;
  text-align: center;
  display: block;
  margin: 2em 0;
}

/* page type */
.wrapper__type {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
}
.type__block {
  width: 100%;
  display: inline-block;
  text-align: center;
  color: var(--white);
  text-decoration: none;
  padding: 1.3em 0;
  border-radius: 0.5em;
}
